<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<section class="banner">
  <h1>About Us</h1>
</section>

<table class="styled-table m-5 col-md-6">
  <thead>
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td>1</td>
      <td>Ajay J</td>

    </tr>
    <tr>
      <td>2</td>
      <td>Shradha Padukone</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Bhavya</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Gangadhar</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Maneesh</td>
    </tr>
</tbody>
</table>
